
<!-- TITLE -->
<mat-card class="mb-40">
    <h1>
        Film Detail
    </h1>
</mat-card>
    

<mat-card *ngIf="film">
    <mat-card-content>

        <h2>Film</h2>

        <div>
            <label>Title</label>
            {{film.title}}
        </div>

        <div>
            <label>Genre</label>
            {{film.genre}}
        </div>

        <div>
            <label>Year</label>
            {{film.year}}
        </div>

        <div>
            <label>Film maker</label>
            {{film.filmMaker.name}} {{film.filmMaker.surname}}
        </div>

        <h3>Cast</h3>

        <div *ngFor="let actor of cast">
            {{actor.name}} {{actor.surname}}
        </div>
        
    </mat-card-content>
</mat-card>